<% provide(:title, "Draggable") %>
<div class="center jumbotron">
    <h1>Draggable Bar Chart Explorer</h1>
    <h2>Learn about mean, max, min, and range using our draggable bar chart!</h2>
</div>
<%= render partial: 'chart_example', locals: {vals: @yvals} %>