<% provide(:title, "Learning") %>
<h1>Interactive Technology For Concept Mastery Learning Page</h1>
<br>
<h3>Learning Path: /learning/path</h3>
<br>
<h3>Levels: /learning/levels</h3>
<br>
<h3>Skillsets: /learning/skillsets</h3>
<br>
<h3>Skills: /learning/skills</h3>
