<% provide(:title, "Learning") %>
<h1>Interactive Technology For Concept Mastery Learning Page</h1>
<p>
  This is the learning page.

  /learning/path
  /learning/levels
  /learning/skillsets
  /learning/skills
</p>