<div id="<%= dom_id skill %>">
  <p>
    <strong>Name:</strong>
    <%= skill.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= skill.description %>
  </p>
  
  <p>
    <% if skill.questions.any? %>
      <strong>Questions:</strong>
    <% end %>
    <ol>
      <% skill.questions.each do |question| %>
        <li>
          <p>
            <%= link_to question.content, question %>
          </p>
        </li>
      <% end %>
    </ol>
  </p>

</div>
