<p style="color: green"><%= notice %></p>

<h1>Skills</h1>

<div id="skills">
  <% @skills.each do |skill| %>
    <p>
      <strong><%= link_to skill.name, skill %></strong>: <%= skill.description %>
    </p>
  <% end %>
  <p>
    <%= link_to "New skill", new_skill_path %>
  </p>
</div>